.input {
  display: block;
  width: 100%;
  background-color: #fff;
  font: inherit;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 6px;
  border: 1px solid #14213d;
  box-sizing: border-box;
  outline: 0;
  height: 32px;
  position: relative;
}

.input:focus {
  box-shadow: 0 0 0 4px #ade8f4;
}
